.header{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    height: 20px;
}

.headerDetails {
    display: flex;
    justify-content: flex-start;
}

.headerImage {
    width: 100px;
    margin-left: 10px;
    text-align: center;
}

.headerName {
    width: 250px;
    text-align: center;
}

.headerBrand {
    width: 175px;
    text-align: center;
}

.headerQuant {
    width: 125px;
    text-align: center;
}

.headerOptional {
    width: 175px;
    text-align: center;
}

.headerSpaceButtons{
    display: flex;
    width: 30px;
    text-align: right;
}