button {
    background-color: #337441;
    width: 80px;
    text-align: center;
    padding: 3px;
}

.responseSave {
    font-size: 10px;
    text-align: center;
    width: 110px;
    align-items: center;
    display: flex;
}